language: java
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          DB_DATABASE: cine
          DB_USER: 'spq'
          DB_PASSWORD: 'spq'
          DB_HOST: 'localhost'
        ports:
          - 3306:3306
    steps:
    - uses: actions/checkout@v2
    - name: Set up MySQL
      run: |
          sudo /etc/init.d/mysql start
          mysql -e "CREATE SCHEMA cine;" -uroot -proot
          mysql -e "CREATE USER 'spq'@'localhost' IDENTIFIED BY 'spq';" -uroot -proot
          mysql -e "GRANT ALL ON cine.* TO 'spq'@'localhost';" -uroot -proot
          mysql -e "SHOW DATABASES;" -uroot -proot
